@import "tailwindcss";

@theme {
  --color-primary-900: #8B1E3F;
  --color-primary-600: #B13A62;

  --color-neutral-0:   #FBFBFB;
  --color-neutral-50:  #F0F1F7;
  --color-neutral-700: #484848;
  --color-neutral-900: #313131;

  --color-accent-500:  #FFCC00;
}